/* media breakpoint values */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* colors */
$bandsite-black: #323232;
$bandsite-dark-black: #000000;
$silver: #afafaf;
$mercury: #e1e1e1;
$white: #ffffff;
