/* media breakpoint values */
/* colors */
/* fonts */
/* global styles */
/* desktop & tablet text styles */
/* mobile text style */
/* padding */
/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: "Avenir Next Regular", sans-serif;
  margin: 0 1.6rem;
  /*     @include desktop {
    margin: auto;
  } */
}
@media screen and (min-width: 768px) {
  body {
    margin: 0 3.6rem;
  }
}

body,
h1,
h2,
h3,
h4,
p,
div,
li,
ul {
  margin: 0;
  list-style: none;
}

/* navigation */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  padding-top: 2.4rem;
  width: 100%;
}
.navigation__logo--image {
  height: 2.8rem;
  padding-right: 8rem;
}
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    height: 8rem;
    padding: 0 8rem 0 3.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .navigation {
    height: 10rem;
    padding-left: 10rem;
  }
}

.navigation-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.6rem 0;
}
.navigation-item--links {
  color: #e1e1e1;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  transition: 0.1s;
}
@media screen and (min-width: 768px) {
  .navigation-item--links {
    margin-right: 6rem;
  }
}
.navigation-item--links.active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: solid 0.4rem white;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navigation-item--links.active {
    margin-top: 5rem;
  }
}
.navigation-item--links:hover {
  color: #ffffff;
  border-bottom: solid 0.4rem white;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navigation-item {
    justify-content: flex-start;
  }
}

/* footer styling */
.footer {
  padding: 0 1.6rem;
  background-color: #323232;
  color: #ffffff;
  position: relative;
}
.footer__title {
  font-size: 3.4rem;
  font-family: "Avenir Next demi";
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 0;
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    padding: 4.8rem 0 2.4rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    gap: 10rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .footer__companies {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__companies {
    gap: 10rem;
    justify-content: flex-start;
  }
}
.footer__company-name {
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: "Avenir Next demi";
  padding: 2.4rem 0 1.6rem 0;
}
.footer__company-details {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: "Avenir Next Regular";
}
.footer__company-email {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: "Avenir Next Regular";
  padding-top: 1.6rem;
}
.footer__company-email-link {
  color: #ffffff;
}
.footer__logo {
  height: 2.8rem;
  position: absolute;
  bottom: 7.5rem;
  left: 0;
  padding-left: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: unset;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    left: 80%;
    bottom: 80%;
  }
}
.footer__icon {
  height: 3.5rem;
  padding-right: 4.5rem;
  left: 0px;
}
.footer__copyright {
  font-size: 1.6rem;
  padding: 12rem 0 2.4rem 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 5.6rem 0;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 3.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 12rem;
  }
}/*# sourceMappingURL=global.css.map */