/* media breakpoint values */
/* colors */
/* fonts */
/* global styles */
/* desktop & tablet text styles */
/* mobile text style */
/* padding */
@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/Font/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: demi;
}
@font-face {
  font-family: "Avenir Next bold";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/Font/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
/* hero */
.hero {
  position: relative;
  display: flex;
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 28rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 46rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 75rem;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.hero__title {
  align-content: center;
  color: #ffffff;
  padding-left: 1.6rem;
  font-size: 4rem;
  font-family: "Avenir Next demi";
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 3.6rem;
    font-size: 6rem;
    line-height: 6.8rem;
    font-family: "Avenir Next bold";
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 12rem;
    font-size: 8rem;
  }
}

/* about section */
.about {
  padding: 0 1.6rem;
}
.about__title {
  padding: 2.4rem 0 1.6rem 0;
  color: #323232;
  font-size: 4rem;
  font-family: "Avenir Next demi";
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 4rem;
    font-family: "Avenir Next demi";
    padding: 4.8rem 0 2.4rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 5rem;
  }
}
.about__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__image {
    padding: 0 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    padding: 0 10rem;
  }
}
.about__quote {
  color: #323232;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "Avenir Next demi";
  padding: 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .about__quote {
    padding: 3.2rem 6rem 1.5rem 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    padding: 3rem 10rem;
    font-size: 2.8rem;
    line-height: 4rem;
    width: 85%;
  }
}
.about__quote--author {
  color: #323232;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "Avenir Next demi";
}
@media screen and (min-width: 768px) {
  .about__quote--author {
    padding: 0 6rem 6rem 6rem;
    font-size: 1.8rem;
    font-family: "Avenir Next demi";
  }
}
@media screen and (min-width: 1280px) {
  .about__quote--author {
    padding: 0 10rem;
    font-size: 2.4rem;
  }
}
.about__band {
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: "Avenir Next demi";
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .about__band {
    padding: 0 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__band {
    padding: 8rem 10rem 5rem 10rem;
    font-size: 3.5rem;
  }
}
.about__band--text {
  padding-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  .about__band--text {
    padding: 3.6rem 6rem;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__band--text {
    padding: 0 10rem;
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 0 12rem;
  }
}

/* gallery styling */
.gallery {
  background-color: #fafafa;
  padding: 0 1.6rem;
}
.gallery__title {
  font-size: 4rem;
  font-family: "Avenir Next demi";
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 4.8rem 0 2.4rem 0;
  }
}
@media screen and (min-width: 768px) {
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__img {
  padding-bottom: 1.6rem;
  width: 100%;
  filter: grayscale(100%);
}
.gallery__img:hover {
  filter: grayscale(0%);
  transition: all ease-in-out 0.2s;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    width: 31.5%;
    box-sizing: border-box;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 3.2rem 3.2rem 3.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 12rem 3.2rem 12rem;
  }
}

/* comments styling */
.comments {
  padding: 1.6rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 5rem 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    padding: 8rem 25rem;
  }
}
.comments__title {
  font-size: 4rem;
  font-family: "Avenir Next demi";
}
@media screen and (min-width: 768px) {
  .comments__title {
    margin-left: -6.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__title {
    margin-left: -12.8rem;
  }
}
.comments__wrapper {
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  border-bottom: 0.1rem solid #e1e1e1;
}
.comments__image {
  background-image: url("../assets/images/Mohan-muruge.jpg");
  margin-top: 1.6rem;
  width: 3.6rem;
  height: 3.6rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .comments__image {
    width: 4.8rem;
    height: 4.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__image {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.comments__form-box {
  width: 88%;
}
.comments__label {
  text-transform: uppercase;
  color: #afafaf;
  font-family: "Avenir Next demi";
}
@media screen and (min-width: 768px) {
  .comments__label {
    font-size: 1.5rem;
  }
}
.comments__name, .comments__text {
  width: 100%;
  border: 1px solid #afafaf;
  border-radius: 0.4rem;
  margin: 1rem 0 2rem 0;
  background-color: #fafafa;
  padding: 1.5rem;
  color: #323232;
  resize: none;
}
.comments__name::-moz-placeholder, .comments__text::-moz-placeholder {
  color: #323232;
  font-family: "Avenir Next Regular";
  font-size: 1.8rem;
}
.comments__name::placeholder, .comments__text::placeholder {
  color: #323232;
  font-family: "Avenir Next Regular";
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .comments__button {
    display: flex;
    justify-content: flex-end;
  }
}
.comments__submit {
  width: 100%;
  height: 5rem;
  background-color: #323232;
  border-radius: 0.4rem;
  color: #ffffff;
  font-family: "Avenir Next demi";
  font-size: 2rem;
}
.comments__submit:hover {
  background-color: #323232;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .comments__submit {
    width: 30%;
  }
}
.comments__old-image {
  background-color: #e1e1e1;
  margin-top: 1rem;
  width: 3.6rem;
  height: 3.6rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .comments__old-image {
    width: 4.8rem;
    height: 4.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__old-image {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.comments__old-wrapper {
  width: 88%;
}
.comments__name-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comments__old-name {
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: "Avenir Next demi";
  padding: 1rem 0;
}
.comments__old-date {
  font-size: 2rem;
  font-weight: 200;
  padding: 1rem 0;
  color: #afafaf;
}
.comments__old-text {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: "Avenir Next Regular";
}
.comments__required {
  border: 0.1rem solid #d22d2d;
}

/* footer styling */
.footer {
  padding: 0 1.6rem;
  background-color: #323232;
  color: #ffffff;
  position: relative;
}
.footer__title {
  font-size: 3.4rem;
  font-family: "Avenir Next demi";
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 0;
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    padding: 4.8rem 0 2.4rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    gap: 10rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .footer__companies {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__companies {
    gap: 10rem;
    justify-content: flex-start;
  }
}
.footer__company-name {
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: "Avenir Next demi";
  padding: 2.4rem 0 1.6rem 0;
}
.footer__company-details {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: "Avenir Next Regular";
}
.footer__company-email {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: "Avenir Next Regular";
  padding-top: 1.6rem;
}
.footer__company-email-link {
  color: #ffffff;
}
.footer__logo {
  height: 2.8rem;
  position: absolute;
  bottom: 7.5rem;
  left: 0;
  padding-left: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: unset;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    left: 80%;
    bottom: 80%;
  }
}
.footer__icon {
  height: 3.5rem;
  padding-right: 4.5rem;
  left: 0px;
}
.footer__copyright {
  font-size: 1.6rem;
  padding: 12rem 0 2.4rem 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 5.6rem 0;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 3.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 12rem;
  }
}/*# sourceMappingURL=bio.css.map */