@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* fonts */
@include font-stylings;

/* global styles */
@include global-styles;

/* navigation */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  padding-top: 2.4rem;
  width: 100%;
  &__logo--image {
    width: 18rem;
    height: 100%;
  }
}

.navigation-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.6rem 0;

  &--links {
    margin: 0;
    color: #e1e1e1;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
  &--links:hover {
    color: #ffffff;
  }
}

/* hero */
.hero {
  position: relative;
  display: flex;
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 32rem;
  width: 100%;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
  }

  &__text {
    margin: 0;
    align-content: center;
    color: $white;
    padding-left: 2.4rem;
    z-index: 2;
  }
}
