@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* fonts */
@include font-faces;

/* hero */
.hero {
  position: relative;
  display: flex;
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 28rem;
  width: 100%;
  background-size: cover;
  background-position: center;

  @include tablet {
    height: 46rem;
  }

  @include desktop {
    height: 75rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
  }

  &__title {
    align-content: center;
    color: $white;
    padding-left: 1.6rem;
    @include page-header;
    z-index: 2;
    @include tablet {
      padding-left: 3.6rem;
      @include desktop-page-header;
    }
    @include desktop {
      padding-left: 12rem;
      font-size: 8rem;
    }
  }
}

/* about section */
.about {
  padding: 0 1.6rem;
  &__title {
    @include mobile-heading-pad;
    color: $bandsite-black;
    font-size: 4rem;
    font-family: $font-demi;
    @include tablet {
      font-size: 4rem;
      font-family: $font-demi;
      @include desktop-heading-pad;
    }
    @include desktop {
      font-size: 5rem;
    }
  }
  &__image {
    width: 100%;
    @include tablet {
      padding: 0 6rem;
    }
    @include desktop {
      padding: 0 10rem;
    }
  }
  &__quote {
    color: $bandsite-dark-black;
    @include section-header;
    padding: 1.6rem 0;
    @include tablet {
      padding: 3.2rem 6rem 1.5rem 6rem;
    }
    @include desktop {
      padding: 3rem 10rem;
      font-size: 2.8rem;
      line-height: 4rem;
      width: 85%;
    }
  }
  &__quote--author {
    color: $bandsite-dark-black;
    @include section-header;
    @include tablet {
      padding: 0 6rem 6rem 6rem;
      font-size: 1.8rem;
      font-family: $font-demi;
    }
    @include desktop {
      padding: 0 10rem;
      font-size: 2.4rem;
    }
  }
  &__band {
    @include tablet {
      padding: 0 6rem;
    }
    @include sub-header;
    @include mobile-heading-pad;
    @include desktop {
      padding: 8rem 10rem 5rem 10rem;
      font-size: 3.5rem;
    }
  }
  &__band--text {
    padding-bottom: 1.6rem;
    @include body-copy;
    @include tablet {
      padding: 3.6rem 6rem;
      display: flex;
      justify-content: space-between;
      gap: 3.2rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    @include desktop {
      padding: 0 10rem;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  @include tablet {
    padding: 0 3.6rem;
  }
  @include desktop {
    padding: 0 12rem;
  }
}

/* gallery styling */
.gallery {
  background-color: $alabaster;
  padding: 0 1.6rem;
  &__title {
    @include page-header;
    @include mobile-heading-pad;

    @include tablet {
      @include desktop-heading-pad;
    }
  }

  &__images {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__img {
    padding-bottom: 1.6rem;
    width: 100%;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
      transition: all ease-in-out 0.2s;
    }

    @include tablet {
      width: 31.5%;
      box-sizing: border-box;
      height: auto;
    }
  }

  @include tablet {
    padding: 0 3.2rem 3.2rem 3.2rem;
  }
  @include desktop {
    padding: 0 12rem 3.2rem 12rem;
  }
}

/* comments styling */

.comments {
  padding: 1.6rem;

  @include tablet {
    padding: 5rem 10rem;
  }
  &__title {
    @include page-header;
    @include tablet {
      margin-left: -6.8rem;
    }
  }
  &__wrapper {
    padding: 1.6rem 0;
    display: flex;
    max-width: 100%;
    border-bottom: 0.3rem solid $mercury;
  }

  &__image {
    background-image: url("../assets/images/Mohan-muruge.jpg");
    margin-top: 1.6rem;
    margin-right: 1.5rem;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  &__form-box {
    width: 88%;
  }

  &__label {
    text-transform: uppercase;
    color: $silver;
  }

  &__name,
  &__text {
    width: 100%;
    border: 1px solid $silver;
    border-radius: 0.5rem;
    margin: 1rem 0 2rem 0;
    background-color: $alabaster;
    padding: 1.5rem;
    color: $bandsite-black;
    &::placeholder {
      color: $bandsite-black;
      font-family: $font-regular;
      font-size: 1.8rem;
    }
  }
  &__button {
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__submit {
    width: 100%;
    height: 5rem;
    background-color: $bandsite-black;
    border-radius: 0.5rem;
    color: $white;
    font-family: $font-demi;
    font-size: 2rem;
    &:hover {
      background-color: $bandsite-black;
      cursor: pointer;
    }
    @include tablet {
      width: 30%;
    }
  }

  &__old-image {
    background-color: $mercury;
    margin-top: 1.2rem;
    margin-right: 1.5rem;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  &__old-wrapper {
    width: 88%;
  }
  &__name-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__old-name {
    @include sub-header;
    padding: 1.5rem 0;
  }
  &__old-date {
    font-size: 2rem;
    font-weight: 200;

    padding: 1.5rem 0;
    color: $silver;
  }
  &__old-text {
    @include body-copy;
  }
}

/* footer styling */
.footer {
  padding: 0 1.6rem;
  background-color: $bandsite-black;
  color: $white;
  position: relative;

  &__title {
    font-size: 3.4rem;
    font-family: $font-demi;
    @include mobile-heading-pad;

    @include tablet {
      padding: 0;
      font-size: 3.5rem;
    }
    @include desktop {
      font-size: 4.8rem;
    }
  }

  &__contact {
    @include tablet {
      display: flex;
      justify-content: space-between;
      @include desktop-heading-pad;
    }
    @include desktop {
      gap: 10rem;
      justify-content: flex-start;
    }
  }

  &__companies {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      gap: 10rem;
      justify-content: flex-start;
    }
  }

  &__company-name {
    @include sub-header;
    @include mobile-heading-pad;
  }
  &__company-details {
    @include body-copy;
  }
  &__company-email {
    @include body-copy;
    padding-top: 1.6rem;
  }

  &__company-email-link {
    color: $white;
  }

  &__logo {
    @include logo-size;
    position: absolute;
    bottom: 7.5rem;
    left: 0;
    padding-left: 1.6rem;
    @include tablet {
      position: unset;
    }
    @include desktop {
      position: absolute;
      left: 80%;
      bottom: 80%;
    }
  }

  &__icon {
    height: 3.5rem;
    padding-right: 4.5rem;
    left: 0px;
  }

  &__copyright {
    font-size: 1.6rem;
    padding: 12rem 0 2.4rem 0;

    @include tablet {
      padding: 5.6rem 0;
    }
  }

  @include tablet {
    padding: 0 3.2rem;
  }

  @include desktop {
    padding: 0 12rem;
  }
}
