@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* fonts */
@include font-faces;

/* hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  flex-direction: column;
  background-image: url(../assets/Images/hero-shows.jpg);
  height: 50rem;
  width: 100%;
  background-size: cover;
  background-position: center;

  padding-left: 1.6rem;

  @include tablet {
    height: 46rem;
  }

  @include desktop {
    height: 75rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
  }

  &__album {
    color: $white;
    font-size: 3rem;
    z-index: 1;
    @include tablet {
      padding-left: 3.6rem;
      @include desktop-page-header;
    }
    @include desktop {
      padding-left: 12rem;
      font-size: 8rem;
    }
  }

  &__title {
    color: $white;
    width: 70%;
    padding: 4rem 0;
    @include page-header;
    z-index: 1;
    @include tablet {
      padding-left: 3.6rem;
      @include desktop-page-header;
    }
    @include desktop {
      padding-left: 12rem;
      font-size: 8rem;
    }
  }
  &__music {
    max-height: 30rem;
    z-index: 1;
  }
  &__iframe {
    width: 100%;
    border: none;
  }
}

.shows {
  padding: 1.6rem;

  &__title {
    @include page-header;
    padding: 3rem 0;
  }

  &__list {
    padding: 0;
    font-size: 1.5rem;
  }

  &__list-item {
    padding: 1rem 0;
    color: $silver;
    font-family: $font-demi;
  }

  &__button {
    width: 100%;
    height: 5rem;
    background-color: $bandsite-black;
    border-radius: 0.5rem;
    color: $white;
    font-family: $font-demi;
    font-size: 2rem;
    &:hover {
      background-color: $bandsite-black;
      cursor: pointer;
    }
  }
}
