@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* fonts */
@include font-faces;

/* hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  flex-direction: column;
  background-image: url(../assets/Images/hero-shows.jpg);
  height: 50rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-left: 1.6rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 0;
  }

  @include tablet {
    height: 85vh;
    padding-left: 3.6rem;
  }

  @include desktop {
    height: 100vh;
    padding: 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
  }

  &__text {
    z-index: 1;
    @include desktop {
      width: 50%;
    }
  }

  &__album {
    color: $white;
    font-size: 3rem;
    @include tablet {
      @include desktop-page-header;
      font-size: 3rem;

      font-family: $font-demi;
    }
    @include desktop {
      font-size: 4rem;
    }
  }

  &__title {
    color: $white;
    width: 70%;
    padding: 4rem 0;
    @include page-header;
    @include tablet {
      @include desktop-page-header;
    }
    @include desktop {
      font-size: 7rem;
      width: 90%;
    }
  }
  &__music {
    max-height: 30rem;
    z-index: 1;
  }
  &__iframe {
    border: none;
    width: 100%;
    @include tablet {
      width: 60%;
      height: 20rem;
    }
    @include desktop {
      width: 42rem;
    }
  }
}

.shows {
  padding: 1.6rem;
  font-size: 2rem;

  @include tablet {
    padding: 4rem 3.2rem;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 12rem;
  }

  &__wrapper {
    @include desktop {
      width: 70%;
    }
  }

  &__title {
    @include page-header;
    padding: 3rem 0;
  }

  &__list {
    padding: 0;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $mercury;
    width: 100%;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      align-items: center;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    &:hover {
      background-color: $alabaster;
      cursor: pointer;
    }
    &:active {
      background-color: $mercury;
      cursor: pointer;
    }
  }

  &__list1 {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      align-items: center;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
      padding: 5rem 0 2rem 0;
    }
  }

  &__list-date1,
  &__list-venue1,
  &__list-location1 {
    color: $silver;
    width: 18rem;
    font-family: $font-demi;
  }

  &__blank {
    visibility: hidden;
    width: 20rem;
  }

  &__list-date,
  &__list-venue,
  &__list-location {
    padding: 1rem 0;
    color: $silver;
    font-family: $font-demi;
    @include tablet {
      display: none;
    }
  }

  &__list-date--text {
    font-family: $font-demi;
    color: $bandsite-black;
    padding: 1.5rem 0 2rem 0;
    @include tablet {
      width: 18rem;
      padding: 0;
    }
    @include desktop {
      width: 18rem;
    }
  }

  &__list--text {
    color: $bandsite-black;
    font-family: $font-regular;
    @include tablet {
      width: 18rem;
      padding: 0;
    }
    @include desktop {
      width: 18rem;
    }
  }

  &__button {
    width: 100%;
    height: 6rem;
    background-color: $bandsite-black;
    border-radius: 0.5rem;
    color: $white;
    font-family: $font-demi;
    font-size: 2rem;
    &:hover {
      background-color: $bandsite-black;
      cursor: pointer;
    }
    @include tablet {
      width: 20rem;
    }

    @include desktop {
      width: 20rem;
    }
  }
}
